.hu7-contenedorSUP{
    padding: 0 48px 48px 48px;
}


/*tableros base*/
[class*="hu7-tarjeta-kpi-"] {
  background-color: var(--surface); 
  border: 1px solid var(--border); 
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/*titulos interfos*/
[class*="hu7-tarjeta-kpi-"] h6 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--muted-text-color); /* #66716B */
  text-transform: uppercase;
  margin-bottom: 12px;
}
